<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <!-- Elasticsearch Appender -->
        <Elasticsearch name="ES" serverUris="http://localhost:9200">
            <IndexName>elkdemoindex</IndexName>
            <Type>log</Type>
            <JsonLayout eventEol="true" compact="true" />
        </Elasticsearch>

        <!-- Console Appender (для вывода в консоль) -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{ISO8601} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Главный логгер -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="ES"/>
        </Root>
    </Loggers>
</Configuration>
