<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Popular Products</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<h1 style="background: #D7EEFF; display: flex; justify-content: center; align-items: center; color: #028F84; margin: 0; padding: 0 150px; height: 80px; text-align: center">Popular Products in <span th:text="${currentSeason}"></span></h1>
<div class="season">
    <div class="podium">
        <div class="podium-item">
            <div class="podium-level" id="second">
                <div th:each="product, iterStat : ${topThreeProducts}" th:if="${iterStat.index == 1}">
                    <a style="color: #028F84" th:href="@{/product(productId=${product.id})}" class="product-link">
                        <div class="product-image">
                            <img th:if="${product.categoryName == 'Футболки'}" src="/image/t-shirts.png" alt="Футболки"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Джинсы'}" src="/image/jeans.png" alt="Джинсы"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Обувь'}" src="/image/shoes.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Куртки'}" src="/image/Jackets.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Аксессуары'}" src="/image/Accessories.png"
                                 alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Свитера'}" src="/image/Sweaters.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Шорты'}" src="/image/shirt.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Кепки'}" src="/image/caps.png" alt="Обувь"
                                 height="230px"
                                 width="300px"/>
                            <img th:if="${product.categoryName == 'Носки'}" src="/image/socks.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Ремни'}" src="/image/belts.png" alt="Обувь"
                                 height="230px" width="300px"/>
                        </div>
                        <span th:text="${product.name}">Product 2</span><br>
                        <span th:text="'Цена: ' + ${product.price}">Price</span><br>
                        <span th:text="'Продано: ' + ${product.soldQuantity}">Quantity Sold</span><br>
                    </a>
                </div>
            </div>
            <img th:src="@{/image/S.png}" class="medal" alt="Image">
        </div>
        <div class="podium-item">
            <div class="podium-level" id="first">
                <div th:each="product, iterStat : ${topThreeProducts}" th:if="${iterStat.index == 0}">
                    <a style="color: #028F84" th:href="@{/product(productId=${product.id})}" class="product-link">
                        <div class="product-image">
                            <img th:if="${product.categoryName == 'Футболки'}" src="/image/t-shirts.png" alt="Футболки"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Джинсы'}" src="/image/jeans.png" alt="Джинсы"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Обувь'}" src="/image/shoes.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Куртки'}" src="/image/Jackets.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Аксессуары'}" src="/image/Accessories.png"
                                 alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Свитера'}" src="/image/Sweaters.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Шорты'}" src="/image/shirt.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Кепки'}" src="/image/caps.png" alt="Обувь"
                                 height="230px"
                                 width="300px"/>
                            <img th:if="${product.categoryName == 'Носки'}" src="/image/socks.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Ремни'}" src="/image/belts.png" alt="Обувь"
                                 height="230px" width="300px"/>
                        </div>
                        <span th:text="${product.name}">Product 1</span><br>
                        <span th:text="'Цена: ' + ${product.price}">Price</span><br>
                        <span th:text="'Продано: ' + ${product.soldQuantity}">Quantity Sold</span><br>
                    </a>
                </div>
            </div>
            <img th:src="@{/image/G.png}" class="medal" alt="Image">
        </div>
        <div class="podium-item">
            <div class="podium-level" id="third">
                <div th:each="product, iterStat : ${topThreeProducts}" th:if="${iterStat.index == 2}">
                    <a style="color: #028F84" th:href="@{/product(productId=${product.id})}" class="product-link">
                        <div class="product-image">
                            <img th:if="${product.categoryName == 'Футболки'}" src="/image/t-shirts.png" alt="Футболки"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Джинсы'}" src="/image/jeans.png" alt="Джинсы"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Обувь'}" src="/image/shoes.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Куртки'}" src="/image/Jackets.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Аксессуары'}" src="/image/Accessories.png"
                                 alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Свитера'}" src="/image/Sweaters.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Шорты'}" src="/image/shirt.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Кепки'}" src="/image/caps.png" alt="Обувь"
                                 height="230px"
                                 width="300px"/>
                            <img th:if="${product.categoryName == 'Носки'}" src="/image/socks.png" alt="Обувь"
                                 height="230px" width="300px"/>
                            <img th:if="${product.categoryName == 'Ремни'}" src="/image/belts.png" alt="Обувь"
                                 height="230px" width="300px"/>
                        </div>
                        <span th:text="${product.name}">Product 3</span><br>
                        <span th:text="'Цена: ' + ${product.price}">Price</span><br>
                        <span th:text="'Продано: ' + ${product.soldQuantity}">Quantity Sold</span><br>
                    </a>
                </div>
            </div>
            <img th:src="@{/image/B.png}" class="medal" alt="Image">
        </div>
    </div>

    <h2 style="color: #028F84">Other Popular Products</h2>
    <div class="products">
        <th:block th:each="product : ${otherProducts}">
            <a style="color: #028F84; display: flex; flex-direction: column; width: 300px"
               th:href="@{/product(productId=${product.id})}" class="product">
                <div class="product-image">
                    <img th:if="${product.categoryName == 'Футболки'}" src="/image/t-shirts.png" alt="Футболки"
                         height="230px" width="300px"/>
                    <img th:if="${product.categoryName == 'Джинсы'}" src="/image/jeans.png" alt="Джинсы" height="230px"
                         width="300px"/>
                    <img th:if="${product.categoryName == 'Обувь'}" src="/image/shoes.png" alt="Обувь" height="230px"
                         width="300px"/>
                    <img th:if="${product.categoryName == 'Куртки'}" src="/image/Jackets.png" alt="Обувь" height="230px"
                         width="300px"/>
                    <img th:if="${product.categoryName == 'Аксессуары'}" src="/image/Accessories.png" alt="Обувь"
                         height="230px" width="300px"/>
                    <img th:if="${product.categoryName == 'Свитера'}" src="/image/Sweaters.png" alt="Обувь"
                         height="230px"
                         width="300px"/>
                    <img th:if="${product.categoryName == 'Шорты'}" src="/image/shirt.png" alt="Обувь" height="230px"
                         width="300px"/>
                    <img th:if="${product.categoryName == 'Кепки'}" src="/image/caps.png" alt="Обувь" height="230px"
                         width="300px"/>
                    <img th:if="${product.categoryName == 'Носки'}" src="/image/socks.png" alt="Обувь" height="230px"
                         width="300px"/>
                    <img th:if="${product.categoryName == 'Ремни'}" src="/image/belts.png" alt="Обувь" height="230px"
                         width="300px"/>
                </div>
                <strong style="margin: 10px 16px 0" th:text="${product.name}">Product Name</strong>
                <span style="margin: 0 16px" th:text="${product.price}">Price</span>
            </a>
        </th:block>
    </div>
</div>
</body>
</html>
